@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 229, 231;
  --background-rgb: 10, 10, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #141419;
}

::-webkit-scrollbar-thumb {
  background: #1F1F2E;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00F2FE;
}
